@use '../../../../../../../../styles/mixins.scss';
@use '../../../../../../../../styles/colors.scss';

:host {
    @include mixins.flex($dir: column);
    gap: 24px;
    @media (max-width: 1200px) {
        gap: 16px;
    }
}

.open-task-modal-header {
    @include mixins.flex($jc: space-between, $ai: center);
}

.open-task-modal-category {
    color: white;
    font-size: 23px;
    font-weight: 400;
    border-radius: 8px;
    padding: 4px 24px;
    @media (max-width: 1200px) {
        font-size: 16px;
        padding: 4px 16px;
    }
}

.open-task-heading {
    font-size: 47px;
    font-weight: 700;
    @media (max-width: 1200px) {
        font-size: 36px;
    }
}

.open-task-due-date-outer-container, .open-task-priority-outer-container {
    @include mixins.flex($ai: center);
    gap: 25px;
}

.open-task-priority {
    @include mixins.flex($jc: center, $ai: center);
    padding: 4px 18px;
    gap: 10px;
}

.open-task-buttons-container {
    @include mixins.flex($ai: center);
    align-self: flex-end;
    gap: 8px;
}

.open-task-button-separator {
    height: 24px;
    width: 2px;
    background-color: colors.$input-light-gray;
}

.open-task-assignees-outer-container {
    @include mixins.flex($dir: column);
    gap: 8px;
}

.open-task-assignees {
    @include mixins.flex($dir: column);
    gap: 4px;
}

.open-task-subtasks-outer-container {
    @include mixins.flex($dir: column);
    gap: 8px;
}

.open-task-subtasks {
    @include mixins.flex($dir: column);
    gap: 4px;
}