@use '../../../../styles/mixins.scss';
@use '../../../../styles/colors.scss';
@use '../../../../styles/shadows.scss';

h2 {
    margin-bottom: 48px;
}

.add-task-bottom {
    @include mixins.flex($ai: flex-end);
    gap: 520px;
    margin-top: 24px;
    margin-bottom: 71px;
    flex-grow: 1;
    @media (max-width: 1400px) {
        gap: 16px;
        @include mixins.flex($dir: column-reverse, $jc: space-between);
    }
}

.add-task-buttons-container {
    display: flex;
    gap: 16px;
}

@keyframes slideInFromBottom {
    0% {
        bottom: -74px;
    }

    12% {
        bottom: 50%;
    }

    100% {
        bottom: 50%;
    }
}

.add-task-message-container {
    animation: slideInFromBottom 1025ms ease-in-out forwards;
}

.add-task-message-text {
    width: 220px;
}

.footnote {
    white-space: nowrap;
}