<div class="main-container">
  <h2>Add Task</h2>
  <app-add-task-form></app-add-task-form>
  <div class="add-task-bottom">
    <div class="footnote"><span class="red-font-color">*</span>This field is required</div>
    <div class="add-task-buttons-container">
      <button class="btn btn-light btn-padding-size9" (click)="resetForm()">Clear <span class="material-symbols-rounded">close</span></button>
      <button class="btn btn-dark btn-padding-size9" (click)="submitForm()" [disabled]="isFormDisabledManuallyOrInvalid">Create task <span class="material-symbols-rounded">check</span></button>
    </div>
  </div>
</div>
@if (hasTaskBeenAdded) {
  <div class="sliding-message-container add-task-message-container" (animationend)="goToBoard()">
    <div class="sliding-message">
      <span class="add-task-message-text">Task added to board</span>
      <span class="material-symbols-rounded board-symbol">table_rows_narrow</span>
    </div>
  </div>
}
