<div class="edit-contact-modal-left-outer">
  <div class="edit-contact-modal-left-inner">
    <img
      src="img/large-join-logo-light.svg"
      alt="light Join logo"
      class="contact-modal-join-logo"
    />
    @if (data.isEditing) {
    <h2>Edit contact</h2>
    } @else {
    <h2>Add contact</h2>
    <h3>Tasks are better with a team!</h3>
    }
    <hr />
  </div>
</div>
<div class="contact-modal-right-outer">
  <div
    class="initial-avatar initial-avatar-largest contact-modal-initial-avatar"
    [ngClass]="contact.color"
  >
    @if (data.isEditing) {
    {{ initials }}
    } @else {
    <span class="material-symbols-rounded contact-modal-icon">person</span>
    }
  </div>
  <form
    #contactModalForm="ngForm"
    class="contact-modal-form"
    (ngSubmit)="onSubmit(contactModalForm)"
  >
    <div class="contact-modal-form-inputs">
      <div class="input-container">
        <input
          type="text"
          class="input input-padding-size7"
          placeholder="Name"
          name="name"
          [(ngModel)]="contact.name"
          #name="ngModel"
          minlength="3"
          (input)="isError = false"
          required
        />
        <span class="material-symbols-rounded input-icon">person</span>
      </div>
      <div class="error">
        @if ((contactModalForm.submitted || name.dirty) &&
        name.hasError('required')) { This field is required. } @else if
        (name.touched && name.hasError('minlength')) { Name must be at least 3
        characters. }
      </div>
      <div class="input-container">
        <input
          type="email"
          class="input input-padding-size7"
          placeholder="Email"
          name="email"
          [(ngModel)]="contact.email"
          #email="ngModel"
          minlength="6"
          email
          (input)="isError = false"
          required
        />
        <span class="material-symbols-rounded input-icon">mail</span>
      </div>
      <div class="error">
        @if ((contactModalForm.submitted || email.dirty) &&
        email.hasError('required')) { This field is required. } @else if
        (email.touched && email.hasError('minlength')) { Email must be at least
        6 characters. } @else if (email.touched && email.hasError('email')) {
        Please enter a valid email address. }
      </div>
      <div class="input-container">
        <input
          type="text"
          class="input input-padding-size7"
          placeholder="Phone"
          name="phone"
          [(ngModel)]="contact.phone"
        />
        <span class="material-symbols-rounded input-icon">phone</span>
      </div>
    </div>
    <div class="contact-modal-form-buttons">
      @if (data.isEditing) {
      <button
        type="button"
        class="btn btn-light btn-padding-size7"
        (click)="deleteContact()"
        [disabled]="isFormDisabled"
      >
        Delete
      </button>
      <button
        class="btn btn-dark btn-padding-size7"
        [disabled]="isFormDisabled"
      >
        Save
      </button>
      } @else {
      <button
        type="button"
        class="btn btn-light btn-padding-size7"
        [disabled]="isFormDisabled"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        class="btn btn-dark btn-padding-size7"
        [disabled]="isFormDisabled"
      >
        Create contact
      </button>
      }
    </div>
    <div class="error">
      @if (isError) { Form could not be submitted. Please try again. }
    </div>
  </form>
</div>
<button class="material-symbols-rounded btn-close" (click)="closeModal()">
  close
</button>
