@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/colors.scss';

:host {
    display: flex;
    height: 594px;
    width: 1212px;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    position: relative;
    max-height: 100svh;
    max-height: 100vh;
    overflow-y: auto;
    @media (max-width: 1212px) {
        // @include mixins.flex($dir: column);
        height: 760px;
        max-width: 396px;
    }
    @media (max-width: 396px) {
        max-width: 100%;
    }
}

.edit-contact-modal-content {
    display: flex;
    min-height: 100%;
    height: fit-content;
    @media (max-width: 1212px) {
        width: 100%;
        @include mixins.flex($dir: column);
    }
}

.edit-contact-modal-left-outer {
    @include mixins.flex($jc: center, $ai: center, $dir: column);
    background-color: colors.$menu;
    padding: 0 46px;
    @media (max-width: 1212px) {
        padding: 72px 0 60px 0;
    }
}

.edit-contact-modal-left-inner {
    margin-top: -66px;
    @media (max-width: 1212px) {
        margin-top: unset;
    }
}

h2, h3 {
    color: white;
    white-space: nowrap;
}

h3 {
    font-weight: 400;
}

hr {
    margin-top: 16px;
    width: 90px;
    border: 1px solid colors.$accent;
}

.contact-modal-join-logo {
    margin-bottom: 32px;
    height: 66px;
    align-self: flex-start;
    @media (max-width: 1212px) {
        display: none;
    }
}

.contact-modal-right-outer {
    @include mixins.flex($jc: flex-end, $ai: center);
    padding: 137px 48px 0px 97px;
    @media (max-width: 1212px) {
        @include mixins.flex($dir: column, $ai: center);
        padding: 0 16px 62px 16px;
        @media (max-height: 760px) {
            padding: 0 16px 0 16px;
        }
    }
}

.contact-modal-form {
    @include mixins.flex($dir: column);
    gap: 48px;
    @media (max-width: 1212px) {
        gap: 32px;
    }
}

.contact-modal-form-buttons {
    display: flex;
    gap: 25px;
    @media (max-width: 1212px) {
        @include mixins.flex($jc: center);
    }
}

.contact-modal-initial-avatar {
    margin-right: 72px;
    margin-bottom: 56px;
    @media (max-width: 1212px) {
        margin: -60px 0 32px 0;
    }
}

.btn-close {
    position: absolute;
    top: 48px;
    right: 48px;
    @media (max-width: 1212px) {
        color: white;
        @media (hover: hover) {
            &:hover {
                color: black;
            }
        }
    }
}

.input-container:not(:first-child) {
    margin-top: 16px;
    @media (max-width: 1212px) {
        margin-top: 8px;
    }
}

.input {
    width: 422px;
    @media (max-width: 1212px) {
        width: 100%;
    }
}

.contact-modal-icon {
    font-size: 64px;
}