@use '../../../../styles/mixins.scss';
@use '../../../../styles/colors.scss';

:host {
    @include mixins.flex();
    width: 100%;
}

.main-container {
    @media(min-width: 1201px) {
        padding-right: 40px;
    }
}

.contacts-left-side {
    min-height: calc(100vh - 96px);
    min-height: calc(100svh - 96px);
    overflow-y: auto;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 456px;
    box-shadow: 4px 0px 6px 0px #00000014;
    @media(max-width: 1200px) {
        max-width: unset;
    }
}

.contacts-right-side {
    width: 100%;
}

.add-contact-button-container {
    z-index: 2;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 101px;
    @include mixins.flex($jc: center, $ai: center);
    @media (max-width: 1200px) {
        background-color: transparent;
        height: unset;
        width: unset;
        position: fixed;
        left: unset;
        top: unset;
        right: 16px;
        bottom: 112px;
    }
}

.add-contact-button {
    @include mixins.flex($jc: center, $ai: center);
    gap: 16px;
    width: 352px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    padding: 15.5px 64.5px;
    @media (max-width: 1200px) {
        height: 56px;
        width: 56px;
        border-radius: 50%;
        padding: 0;
        .add-contact-button-text {
            display: none;
        }
    }
}

.contact-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 28px;
    margin-top: 88px;
    padding: 0 24px 32px;
    @media (max-width: 1200px) {
        margin: 24px 14px;
        padding-bottom: 72px;
    }
    @media (max-width: 427px) {
        margin: 18px 0px;
        padding: 0 16px 72px;
    }
    @media (max-width: 375px) {
        margin: 18px 0px;
    }
}

.hide-mobile {
    @media (max-width: 1200px) {
        display: none;
    }
}

.contacts-header {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 27px;
    margin-bottom: 56px;
    @media (max-width: 1400px) {
        @include mixins.flex($dir: column);
        gap: 8px;
    }
    @media (max-width: 1200px) {
        font-size: 20px;
    }
}

.contacts-header-separator-vertical {
    font-size: 60px;
    color: colors.$accent;
    @media (max-width: 1400px) {
        display: none;
    }
}

.contacts-header-separator-horizontal {
    display: none;
    width: 90px;
    border: 3px solid colors.$accent;
    border-radius: 3px;
    margin-top: 8px;
    @media (max-width: 1400px) {
        display: block;
    }
}

.contact-profile {
    @include mixins.flex($dir: column);
    gap: 21px;
    padding-bottom: 21px;
}

.contacts-letter {
    padding: 17px 36px;
}

hr {
    margin: 8px 0;
    border: 1px solid colors.$input-light-gray;
}

.active, .active:hover {
    color: white;
    background-color: colors.$menu;
}

.back-link {
    color: colors.$accent;
    display: none;
    right: 16px;
    .material-symbols-rounded {
        font-size: 32px;
    }
    @media (max-width: 1200px) {
        display: flex;
    }
}

.contact-added-message-container {
    animation: slideInFromBottom 1050ms ease-in-out forwards;
    @media (min-width: 1201px) {
        left: unset;
        right: unset;
        bottom: 20%;
        animation: none;
        animation: slideInFromRight 1050ms ease-in-out forwards;
    }
}

@keyframes slideInFromRight {
    0% {
        right: -163px;
    }

    12% {
        right: 163px;
    }

    88% {
        right: 163px;
    }

    100% {
        right: -163px;
    }
}

@keyframes slideInFromBottom {
    0% {
        bottom: -74px;
    }

    12% {
        bottom: 50%;
    }

    100% {
        bottom: 50%;
    }
}