<div class="login-signup-form-header">
  <a
    class="material-symbols-rounded back-link signup-back-link"
    routerLink="/login"
    >arrow_back</a
  >
  <h2 class="login-signup-headline">Sign up</h2>
  <div class="login-signup-separator"></div>
</div>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <div class="input-container">
    <input
      [(ngModel)]="formData.name"
      #name="ngModel"
      name="name"
      class="input input-padding-size6"
      type="text"
      placeholder="Name"
      minlength="3"
      required
    />
    <span class="material-symbols-rounded input-icon">person</span>
  </div>
  <div class="error">
    @if ((signupForm.submitted || name.dirty) && name.hasError('required')) {
    This field is required. } @else if (name.touched &&
    name.hasError('minlength')) { Name must be at least 3 characters. }
  </div>
  <div class="input-container">
    <input
      [(ngModel)]="formData.email"
      #email="ngModel"
      name="email"
      class="input input-padding-size6"
      type="email"
      placeholder="Email"
      minlength="6"
      email
      required
    />
    <span class="material-symbols-rounded input-icon">mail</span>
  </div>
  <div class="error">
    @if ((signupForm.submitted || email.dirty) && email.hasError('required')) {
    This field is required. } @else if (email.touched &&
    email.hasError('minlength')) { Email must be at least 6 characters.
    } @else if (email.touched && email.hasError('email')) { Please enter a valid email
    address. }
  </div>
  <div class="input-container">
    <input
      [(ngModel)]="formData.password"
      #password="ngModel"
      name="password"
      class="input input-padding-size6"
      type="password"
      placeholder="Password"
      minlength="8"
      [class.invalid-input]="!isPasswordAMatch"
      required
    />
    <span class="material-symbols-rounded input-icon">lock</span>
  </div>
  <div class="error">
    @if ((signupForm.submitted || password.dirty) &&
    password.hasError('required')) { This field is required. } @else if
    (password.touched && password.hasError('minlength')) { Password must be at
    least 8 characters. }
  </div>
  <div class="input-container">
    <input
      [(ngModel)]="formData.passwordForConfirmation"
      #passwordForConfirmation="ngModel"
      name="passwordForConfirmation"
      class="input input-padding-size6"
      type="password"
      placeholder="Confirm password"
      minlength="8"
      [class.invalid-input]="!isPasswordAMatch"
      required
    />
    <span class="material-symbols-rounded input-icon">lock</span>
  </div>
  <div class="error">
    @if ((signupForm.submitted || passwordForConfirmation.dirty) &&
    passwordForConfirmation.hasError('required')) { This field is required. }
    @else if (passwordForConfirmation.touched &&
    passwordForConfirmation.hasError('minlength')) { Confirmation password must
    be at least 8 characters. } @else if (!isPasswordAMatch) { Passwords don't
    match. } @else if (hasSignInFailed) { Check your email and password.
    Please&nbsp;try&nbsp;again. }
  </div>
  <div class="signup-checkbox-outer-container">
    <app-checkbox
      name="checkbox"
      type="checkbox"
      [(ngModel)]="formData.checked"
      [required]="true"
    ></app-checkbox>
    <div class="privacy-policy-message">
      I accept the
      <a routerLink="/main/privacy-policy" class="accent-color-link"
        >privacy policy</a
      >
    </div>
  </div>
  <div class="error checkbox-error">
    @if (showCheckboxError) { The checkbox has not been checked. }
  </div>
  <div class="login-signup-btn-container mt-32">
    <button
      class="btn btn-dark main-button btn-padding-size4"
      [disabled]="isFormDisabled"
    >
      Sign up
    </button>
  </div>
</form>
