<div class="login-signup-form-header">
    <h2 class="login-signup-headline">Sign up</h2>
    <div class="login-signup-separator"></div>
  </div>
  <form>
    <input class="input input-padding-size4" type="text" />
    <input class="input input-padding-size4" type="email" />
    <input class="input input-padding-size4" type="password" />
    <input class="input input-padding-size4" type="password" />
    <p>I accept the <a routerLink="/privacy-policy">privacy policy</a></p>
    <div class="login-signup-btn-container">
      <button class="btn btn-dark main-button btn-padding-size4">Sign up</button>
    </div>
  </form>
  