<div class="login-signup-form-header">
  <h2 class="login-signup-headline">Sign up</h2>
  <div class="login-signup-separator"></div>
</div>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
  <input
    [(ngModel)]="formData.name"
    name="name"
    class="input input-padding-size4"
    type="text"
    minlength="4"
  />
  <input
    [(ngModel)]="formData.email"
    name="email"
    class="input input-padding-size4"
    type="email"
    minlength="6"
  />
  <input
    [(ngModel)]="formData.password"
    name="password"
    class="input input-padding-size4"
    type="password"
    minlength="8"
  />
  <input
    [(ngModel)]="formData.passwordForConfirmation"
    name="passwordForConfirmation"
    class="input input-padding-size4"
    type="password"
    minlength="8"
  />
  <p>I accept the <a routerLink="/privacy-policy">privacy policy</a></p>
  <div class="login-signup-btn-container">
    <button class="btn btn-dark main-button btn-padding-size4">Sign up</button>
  </div>
</form>
