<div class="add-task-form-left">
    <label for="title">Title<span>*</span></label>
    <input type="text" id="title">
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
    <label for="assigned-to"></label>
    <select name="assigned-to" id="assigned-to"></select>
</div>
<div class="add-task-form-right">
    <label for="date"></label>
    <input type="date" id="date">
    <div class="add-task-form-buttons-container">
        <button>Urgent</button>
        <button>Medium</button>
        <button>Low</button>
    </div>
    <select name="category" id="category"></select>
    <input type="text" name="subtask" id="subtask">
</div>