<div class="add-task-form-left">
    <div class="add-task-form-input-container">
        <label for="title">Title<span>*</span></label>
        <input type="text" id="title" class="input-padding-size4">
    </div>
    <div class="add-task-form-input-container">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
    </div>
    <div class="add-task-form-input-container">
        <label for="date">Priority</label>
        <input type="date" id="date">
    </div>
</div>
<div class="add-task-form-right">
    <div class="add-task-form-input-container">
        <label>Priority</label>
        <div class="add-task-form-buttons-container">
            <button>Urgent</button>
            <button>Medium</button>
            <button>Low</button>
        </div>
    </div>
    <div class="add-task-form-input-container">
        <label for="assigned-to">Assigned</label>
        <select name="assigned-to" id="assigned-to"></select>
    </div>
    <div class="add-task-form-input-container">
        <select name="category" id="category"></select>
    </div>
    <div class="add-task-form-input-container">
        <input type="text" name="subtask" id="subtask">
    </div>
</div>