@use '../login-signup.component.scss';
@use '../../../../styles/mixins.scss';

:host {
    height: unset;
    overflow-y: unset;
}

.login-checkbox-outer-container {
    cursor: pointer;
    margin: 12px 0 12px 36px;
    align-self: start;
    @include mixins.flex($ai: center);
    gap: 8px;
}

.login-checkbox-label {
    cursor: pointer;
}