@use "../../../../styles/mixins.scss";
@use "../../../../styles/colors.scss";
@use "../../../../styles/shadows.scss";

:host {
    animation: slideInFromBottom 925ms ease-in-out forwards;
}

@keyframes slideInFromBottom {
    0% {
        bottom: -74px;
    }
    13% {
        bottom: 20%;
    }
    100% {
        bottom: 20%;
    }
}