<section>
    <div class="summary-header">
        <h2>Join 360</h2>
        <div class="summary-header-separator"></div>
        <h3>Key Metrics at a Glance</h3>
    </div>
    <div class="summary-container">
       <div class="row1">
        <div class="summary-tile todo">
            <div class="summary-tile-number-and-text-container">
                <span>1</span>
                <span>To-do</span>
            </div>
        </div>
        <div class="summary-tile done">
            <div class="summary-tile-symbol-container">
                <div class="summary-tile-number-and-text-container">
                    <span>1</span>
                    <span>Done</span>
                </div>
            </div>
        </div>
       </div>
        <div class="summary-tile row2">
            <div class="summary-tile-number-and-text-container">
                <span>1</span>
                <span>Urgent</span>
            </div>
        </div>
        <div class="row3">
            <div class="summary-tile">
                <div class="summary-tile-number-and-text-container">
                    <span>1</span>
                    <span>Tasks in<br>board</span>
                </div>
            </div>
            <div class="summary-tile">
                <div class="summary-tile-number-and-text-container">
                    <span>1</span>
                    <span>Tasks in<br>progress</span>
                </div>
            </div>
            <div class="summary-tile">
                <div class="summary-tile-number-and-text-container">
                    <span>1</span>
                    <span>Awaiting<br>feedback</span>
                </div>
            </div>
        </div>
    </div>
</section>