@use '../../../../styles/mixins.scss';
@use '../../../../styles/colors.scss';
@use '../../../../styles/shadows.scss';
@use '../../../../styles/paddings.scss';

.summary-header {
    @include mixins.flex($ai: center);
    gap: 30px;
    @media(max-width: 768px) {
    gap: 8px;
    display: grid;
    grid-template-areas:
        'heading'
        'subtitle'
        'separator';
    }
}

.summary-heading {
    grid-area: heading;
}

.summary-subtitle {
    grid-area: subtitle;
}

.summary-header-separator {
    grid-area: separator;
    @include mixins.flex();
    height: 59px;
    width: 3px;
    background-color: colors.$accent;
    @media(max-width: 768px) {
        height: 3px;
        width: 90px;
        margin-top: 8px;
    }
}

.summary-outer-container {
    @include mixins.flex($ai: center);
    gap: 80px;
}

.summary-container {
    margin-top: 56px;
    margin-bottom: 8px;
    width: 560px;
    display: grid;
    grid-template-rows: repeat(3, 168px);
    gap: 28px;
    @media (max-width: 1200px) {
        margin-top: 40px;
        margin-bottom: 88px;
        gap: 18px;
        width: 100%;
    }
    @media (max-width: 768px) {
        grid-template-rows: repeat(3, 110px);
    }
}

.summary-tile {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: shadows.$box-shadow;
    cursor: pointer;
    @include mixins.flex($jc: center, $ai: center);
    @media (hover: hover) {
        &:hover {
            scale: 1.06;
            &.row2 {
                scale: 1.025;
            }
            color: colors.$bg;
            background-color: colors.$menu;
            .summary-icon:not(.urgent-icon) {
                color: colors.$menu;
                background-color: colors.$bg;
            }
        }
    }
}

.summary-tile-symbol-container {
    @include mixins.flex($jc: center, $ai: center);
    gap: 18px;
}

.summary-tile-number-and-text-container {
    @include mixins.flex($ai: center, $dir: column);
}

.row1 {
    @include mixins.flex();
    gap: 32px;
    @media(max-width: 768px) {
        gap: 24px;
    }
}

.row2 {
    @include mixins.flex($jc: space-around, $ai: center);
    padding: 0 4px;
}

.row3 {
    @include mixins.flex();
    gap: 28px;
    @media(max-width: 768px) {
        gap: 24px;
    }
}

.summary-icon {
    height: 69px;
    width: 69px;
    font-size: 32px;
    color: white;
    background-color: colors.$menu;
    border-radius: 50%;
    @include mixins.flex($jc: center, $ai: center);
    @media(max-width: 768px) {
        height: 40px;
        width: 40px;
        font-size: 24px;
    }
}

.urgent-icon {
    transform: rotate(-90deg);
    background-color: colors.$urgent;
}

.summary-date-container {
    @include mixins.flex($dir: column);
    gap: 13px;
}

.row2-separator {
    background-color: colors.$medium-gray;
    height: 102px;
    width: 2px;
    @media(max-width: 768px) {
        height: 68px;
    }
}

.summary-number {
    font-size: 64px;
    font-weight: 600;
    @media(max-width: 768px) {
        font-size: 47px;
    }
    @media(max-width: 368px) {
        font-size: 23px;
    }
}

.summary-text1 {
    font-size: 20px;
    @media(max-width: 768px) {
        font-size: 14px;
    }
}

.summary-text2 {
    font-size: 16px;
    @media(max-width: 768px) {
        font-size: 14px;
    }
}

.summary-text3 {
    font-size: 21px;
    font-weight: 700;
    @media(max-width: 768px) {
        font-size: 16px;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}

.summary-greeting {
    @media (max-width: 1200px) {
       display: none;
    }
}

.summary-greeting-animation {
    @media (max-width: 1200px) {
        animation: fade-out 1500ms ease-in-out forwards;
        @include mixins.flex($jc: center, $ai: center);
        background-color: colors.$bg;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

.summary-greeting-text {
    font-size: 47px;
    font-weight: 500;
    @media (max-width: 1439px) {
        font-size: 36px;
        font-weight: 400;
    }
    @media (max-width: 368px) {
        font-size: 20px;
    }
}

.summary-greeting-name {
    font-size: 64px;
    font-weight: 700;
    color: colors.$accent;
    @media (max-width: 1439px) {
        font-size: 47px;
    }
    @media (max-width: 368px) {
        font-size: 27px;
    }
}