@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/colors.scss';

:host {
    @include mixins.flex();
    gap: 35px;
    padding: 15px 24px;
    border-radius: 10px;
    cursor: pointer;
    @media (max-width: 375px) {
        gap: 24px;
        padding: 12px 16px;
    }
    @media (hover: hover) {
        &:hover {
            background-color: colors.$main;
        }
    }
}

.contact-name-and-email-container {
    width: 100%;
    overflow: hidden;
    @include mixins.flex($dir: column);
    gap: 5px;
}

.contact-name {
    font-size: 20px;
}

.email {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 427px) {
        font-size: 14px;
    }
}