<h1>Kanban Project Management Tool</h1>
<a class="header-logo-link" [routerLink]="isUserLoggedIn() ? 'summary' : '/login'">
  <img class="header-logo" src="img/large-join-logo.svg" alt="logo" />
</a>
<div class="header-img-container">
  <a routerLink="help"
    ><span class="material-symbols-rounded header-help-icon">help</span></a
  >
  <div
    (click)="$event.stopPropagation(); showOrHideDropDownMenu()"
    class="header-user-icon"
  >
    @if (userName()) {
      <span>{{ initials() }}</span>
    } @else {
      <span class="material-symbols-rounded">person</span>
    }
  </div>
</div>
<nav
  class="drop-down-menu"
  [class.drop-down-menu-open]="isDropDownMenuOpen"
  appClickOutside
  (clickOutsideEvent)="showOrHideDropDownMenu(false)"
>
  <a (click)="goToUrl('main/help')" class="header-nav-help-link">Help</a>
  <a (click)="goToUrl('main/legal-notice')">Legal Notice</a>
  <a (click)="goToUrl('main/privacy-policy')">Privacy Policy</a>
  @if (isUserLoggedIn()) {
  <a (click)="logOut()">Log out</a>
  } @else {
  <a routerLink="/login">Login</a>
  }
</nav>
