@use '../../../styles/mixins.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/shadows.scss';
@use '../../../styles/paddings.scss';

:host {
    height: 100%;
    background-color: white;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    box-shadow: shadows.$box-shadow;
    font-size: 20px;
    position: relative;
    padding-left: paddings.$content-left;
    @include mixins.flex($jc: space-between, $ai: center);
    @media (max-width: 1200px) {
        padding-left: paddings.$content-left-large-tablet;
        width: 100%;
    }
    @media (max-width: 1024px) {
        padding-left: paddings.$content-left-small-tablet;
    }
    @media (max-width: 768px) {
        padding-left: paddings.$content-left-mobile;
    }
}

.header-img-container {
    @include mixins.flex($jc: space-between, $ai: center);
    gap: 16px;
}

.header-help-icon {
    color: colors.$medium-gray;
    cursor: pointer;
    font-size: 24px;
}

.header-user-icon {
    height: 56px;
    width: 56px;
    border: 3px solid black;
    border-radius: 28px;
    font-size: 20px;
    color: colors.$accent;
    font-weight: bold;
    cursor: pointer;
    @media (max-width: 768px) {
        font-size: 13px;
    }
}

.header-user-icon {
    @include mixins.flex($jc: center, $ai: center);
    @media (max-width: 768px) {
        height: 40px;
        width: 40px;
    }
}

.drop-down-menu {
    @include mixins.flex($dir: column);
    position: fixed;
    top: 96px;
    right: -200px;
    background-color: colors.$menu;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    transition: 125ms ease-in-out;
    a {
        color: colors.$input-icon-gray;
        text-decoration: none;
        padding: 13.5px 19px;
        @media (hover: hover) {
            &:hover {
                background-color: colors.$menu-hover;
            }
        }
    }
    @media (max-width: 768px) {
        top: 80px
    }
}

.drop-down-menu-open {
    right: 12px;
}

.header-logo {
    width: 32px;
    display: none;
}

.header-nav-help-link {
    @media (min-width: 769px) {
        display: none;
    }
}

.header-logo {
    @media (max-width: 768px) {
        display: block;
    }
}

.header-help-icon {
    @media (max-width: 768px) {
        display: none;
    }
}

h1 {
    @media (max-width: 768px) {
        display: none;
    }
}