$bg: #F6F7F8;
$main: hsl(210, 13%, 97%);
$input-light-gray: hsl(0, 0%, 82%);
$input-icon-gray: hsl(0, 0%, 85%);
$light-gray: hsl(0, 0%, 91%);
$medium-gray: hsl(0, 0%, 66%);
$accent: hsl(198, 76%, 52%);
$urgent: hsl(14, 100%, 50%);
$medium: hsl(40, 100%, 50%);
$red: hsl(353, 100%, 75%);
$low: hsl(94, 76%, 53%);
$menu: hsl(215, 26%, 22%);
$menu-font: hsl(0, 0%, 80%);
$menu-hover: hsl(216, 36%, 26%);
$menu-active: hsl(216, 69%, 11%);
$button-hover: hsl(210, 24%, 90%);
$user-story: hsl(227, 100%, 50%);
$technical-task: hsl(173, 75%, 48%);