$bg-color: #F6F7F8;
$color-input-light-gray: hsl(0, 0%, 82%);
$color-accent: hsl(198, 76%, 53%);
$color-urgent: hsl(14, 100%, 50%);
$color-medium: hsl(40, 100%, 50%);
$color-red: hsl(353, 100%, 75%);
$color-low: hsl(94, 76%, 53%);
$color-menu: hsl(215, 26%, 22%);
$color-menu-hover: hsl(216, 36%, 26%);
$color-menu-active: hsl(216, 69%, 11%);