$bg: #f6f7f8;
$main: hsl(210, 13%, 97%);
$input-light-gray: hsl(0, 0%, 82%);
$input-icon-gray: hsl(0, 0%, 85%);
$light-gray: hsl(0, 0%, 91%);
$medium-gray: hsl(0, 0%, 66%);
$accent: hsl(198, 76%, 52%);
$urgent: hsl(14, 100%, 50%);
$medium: hsl(40, 100%, 50%);
$red: hsl(353, 100%, 75%);
$low: hsl(94, 76%, 53%);
$menu: hsl(215, 26%, 22%);
$menu-font: hsl(0, 0%, 80%);
$menu-hover: hsl(216, 36%, 26%);
$menu-active: hsl(216, 69%, 11%);
$button-hover: hsl(210, 24%, 90%);
$user-story: hsl(227, 100%, 50%);
$technical-task: hsl(173, 75%, 48%);

$user0: hsl(29, 100%, 50%);
$user1: hsl(328, 100%, 69%);
$user2: hsl(250, 100%, 66%);
$user3: hsl(270, 100%, 58%);
$user4: hsl(191, 100%, 45%);
$user5: hsl(173, 75%, 48%);
$user6: hsl(8, 100%, 69%);
$user7: hsl(26, 100%, 69%);
$user8: hsl(299, 100%, 72%);
$user9: hsl(47, 100%, 50%);
$user10: hsl(227, 100%, 50%);
$user11: hsl(77, 100%, 58%);
$user12: hsl(53, 100%, 58%);
$user13: hsl(0, 100%, 64%);
$user14: hsl(41, 100%, 58%);

.user-color0 {
    background-color: $user0;
}

.user-color1 {
    background-color: $user1;
}

.user-color2 {
    background-color: $user2;
}

.user-color3 {
    background-color: $user3;
}

.user-color4 {
    background-color: $user4;
}

.user-color5 {
    background-color: $user5;
}

.user-color6 {
    background-color: $user6;
}

.user-color7 {
    background-color: $user7;
}

.user-color8 {
    background-color: $user8;
}

.user-color9 {
    background-color: $user9;
}

.user-color10 {
    background-color: $user10;
}

.user-color11 {
    background-color: $user11;
}

.user-color12 {
    background-color: $user12;
}

.user-color13 {
    background-color: $user13;
}

.user-color14 {
    background-color: $user14;
}