$content-top: 110px;
$content-left: 96px;
$content-top-tablet: 48px;
$content-left-large-tablet: 64px;
$content-left-small-tablet: 32px;
$content-top-mobile: 48px;
$content-left-mobile: 16px;
$content-top-small-mobile: 24px;