$box-shadow: 0px 4px 4px 0px #0000001A;
$box-shadow2: 0px 0px 10px 3px #00000014;
$box-shadow3: 0px 0px 15px 5px #00000021;
$box-shadow4: 0px 0px 4px 0px #00000029;
$box-shadow5: 0px 0px 4px 0px #0000001A;
$box-shadow6: 0px 0px 14px 3px #0000000A;
$box-shadow7: 0px 4px 4px 0px #00000040;
