<div class="board-header">
   <div class="board-header-part1">
     <h2>Board</h2>
     <button class="btn btn-dark btn-padding-size5 btn-add-mobile" routerLink="/main/add-task"><span class="material-symbols-rounded">add</span></button>
   </div>
    <div class="board-header-part2">
        <app-search-bar></app-search-bar>
        <button class="btn btn-dark btn-padding-size0 btn-add-desktop" routerLink="/main/add-task">Add task <span class="material-symbols-rounded">add</span></button>
    </div>
</div>
<div cdkDropListGroup class="board-columns">
    <app-column dropListId="0" status="To do" [tasks]="tasksTodo()"></app-column>
    <app-column dropListId="1" status="In progress" [tasks]="tasksInProgress()"></app-column>
    <app-column dropListId="2" status="Await feedback" [tasks]="tasksAwaitingFeedback()"></app-column>
    <app-column dropListId="3" status="Done" [tasks]="tasksDone()"></app-column>
</div>