@if (isLogin && shouldPlayIntroAnimation) {
    <div class="animation-overlay" (animationend)="hasIntroAnimationPlayed = true"></div>
}
<header>
    <img class="large-join-logo" [ngClass]="{'join-logo-animation': shouldPlayIntroAnimation}" src="/img/large-join-logo.svg" alt="large Join logo">
</header>
<router-outlet></router-outlet>
<footer>
    <div class="footer-links-container">
        <div class="footer-link-container">
            <a class="footer-link" routerLink="/privacy-policy">Privacy policy</a>
        </div>
        <div class="footer-link-container">
            <a class="footer-link" routerLink="/legal-notice">Legal notice</a>
        </div>
    </div>
</footer>