@use '../../../styles/mixins.scss';
@use '../../../styles/colors.scss';

:host {
    position: relative;
    @include mixins.flex($jc: space-between, $ai: center, $dir: column);
    height: 100vh;
    overflow-y: auto;
}

.animation-overlay {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: colors.$bg;
    animation: fade-in 1s ease-in-out forwards;
    @media (max-width: 768px) {
        animation: none;
        animation: fade-in-mobile 1s ease-in-out forwards;
    }
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fade-in-mobile {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
        display: none;
    }
}

.large-join-logo {
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 77px;
    width: 100px;
    height: 122px;
    @media (max-width: 1200px) {
        top: 37px;
        left: 38px;
        width: 64px;
        height: 78px;
    }
}

.join-logo-animation {
    animation: move-to-top-left 1000ms ease-in-out forwards;
    @media (max-width: 1200px) {
        animation: none;
        animation: move-to-top-left-mobile 1000ms ease-in-out forwards;
    }
}

@keyframes move-to-top-left {
    0% {
        top: 50%;
        left: 50%;
        width: 274px;
        height: 334.07px;
        transform: translate(-50%, -50%);
    }

    40% {
        top: 50%;
        left: 50%;
        width: 274px;
        height: 334.07px;
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes move-to-top-left-mobile {
    0% {
        top: 50%;
        left: 50%;
        width: 100px;
        height: 122px;
        transform: translate(-50%, -50%);
    }

    20% {
        top: 50%;
        left: 50%;
        width: 100px;
        height: 122px;
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

header {
    @include mixins.flex($jc: flex-end);
    flex-basis: 0;
    flex-grow: 1;
    padding-top: 67px;
    padding-right: 122px;
    width: 100%;
    min-height: 235px;
    @media (max-width: 1200px) {
        min-height: 152px;
    }
    @media (max-width: 768px) {
        min-height: 152px;
    }
}

footer {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    @include mixins.flex($jc: center, $ai: flex-end);
}

.footer-links-container {
    @include mixins.flex();
    gap: 16px;
    align-self: flex-end;
    margin-top: 22px;
    margin-bottom: 22px;
}

.footer-link {
    color: colors.$medium-gray;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    &:hover {
        color: colors.$accent;
        font-weight: 700;
    }
}

form {
    width: 422px;
    max-width: 422px;
    @media (max-width: 768px) {
      width: 100%;
    }
}

.login-signup-form-header {
    @include mixins.flex($ai: center, $dir: column);
    gap: 16px;
}

.login-signup-headline {
    font-size: 61px;
    @media (max-width: 768px) {
        font-size: 47px;
    }
}

.login-signup-separator {
    border-top: 1px solid colors.$accent;
    border-bottom: 2px solid colors.$accent;
    width: 150px;
    border-radius: 3px;
    @media (max-width: 768px) {
        width: 88px;
    }
}

.login-signup-btn-container {
    @include mixins.flex($jc: center);
    gap: 35px;
    @media (max-width: 480px) {
        @include mixins.flex($ai: center, $dir: column);
        gap: 21px;
    }
}

.login-signup-link-container {
    @include mixins.flex($ai: center);
    height: fit-content;
    gap: 35px;
}

.login-signup-link-container-desktop {
    @media (max-width: 1200px) {
        display: none;
    }
}

.login-signup-link-container-mobile {
    padding-top: 77.5px;
    display: none;
    @media (max-width: 1200px) {
        display: flex;
    }
    @media (max-width: 375px) {
        gap: 24px;
    }
    @media (max-height: 840px) {
        padding-top: 24px;
    }
}