@use '../../../styles/mixins.scss';
@use '../../../styles/colors.scss';

.login-signup-card {
    padding: 48px 115px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    @include mixins.flex($dir: column);
    gap: 32px;
    @media (max-width: 768px) {
        width: calc(100% - 32px);
        padding: 32px 16px;
    }
}

form {
    @include mixins.flex($ai: center, $dir: column);
    gap: 32px;
}

.login-signup-form-header {
    @include mixins.flex($ai: center, $dir: column);
    gap: 16px;
}

.login-signup-headline {
    font-size: 61px;
    line-height: 73.2px;
    @media (max-width: 768px) {
        font-size: 47px;
        line-height: 56.4px;
    }
}

.login-signup-separator {
    border-top: 1px solid colors.$accent;
    border-bottom: 2px solid colors.$accent;
    width: 150px;
    border-radius: 3px;
    @media (max-width: 768px) {
        width: 88px;
    }
}

.input {
    width: 422px;
    max-width: 422px;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.login-signup-btn-container {
    @include mixins.flex();
    gap: 35px;
    @media (max-width: 480px) {
        @include mixins.flex($dir: column);
        gap: 21px;
    }
}