@if (isLogin && shouldPlayIntroAnimation) {
    <div class="animation-overlay" (animationend)="hasIntroAnimationPlayed = true"></div>
}
<header>
    <img class="large-join-logo" [ngClass]="shouldPlayIntroAnimation ? 'join-logo-animation' : 'join-logo-no-animation'" src="/img/large-join-logo.svg" alt="large Join logo">
</header>
@if (isLogin) {
    <app-login></app-login>
} @else {
    <app-signup></app-signup>
}
<footer>
    <div class="footer-links-container">
        <div class="footer-link-container">
            <a class="footer-link" routerLink="/privacy-policy">Privacy policy</a>
        </div>
        <div class="footer-link-container">
            <a class="footer-link" routerLink="/legal-notice">Legal notice</a>
        </div>
    </div>
</footer>