:host {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 96px auto;
    grid-template-areas:
    'navbar header'
    'navbar main';
    @media (max-width: 1200px) {
        grid-template-columns: auto;
        grid-template-rows: 80px auto 80px;
        grid-template-areas:
        'header'
        'main'
        'navbar';
    }
}

nav {
    grid-area: navbar;
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 232px;
    @media (max-width: 1200px) {
        bottom: 0;
        height: 80px;
        width: 100%;
    }
}

header {
    position: fixed;
    z-index: 5;
    width: calc(100% - 232px);
    right: 0;
    grid-area: header;
    @media (max-width: 1200px) {
        width: 100%;
    }
}

main {
    overflow-x: hidden;
    overflow-y: hidden;
    grid-area: main;
}