:host {
    height: 100svh;
    height: 100vh;
    display: grid;
    grid-template-columns: 232px auto;
    grid-template-rows: 96px auto;
    grid-template-areas:
    'navbar header'
    'navbar main';
    @media (max-width: 1200px) {
        grid-template-columns: auto;
        grid-template-rows: 80px auto 80px;
        grid-template-areas:
        'header'
        'main'
        'navbar';
    }
}

nav {
    grid-area: navbar;
    position: fixed;
    height: 100%;
    width: 232px;
    @media (max-width: 1200px) {
        position: unset;
        width: unset;
    }
}

header {
    position: fixed;
    width: calc(100% - 232px);
    right: 0;
    grid-area: header;
}

main {
    grid-area: main;
}