<a class="navbar-logo-link" [routerLink]="isUserLoggedIn() ? 'summary' : '/login'">
  <img class="navbar-logo" src="img/large-join-logo-light.svg" alt="light Join logo" />
</a>
@if (isUserLoggedIn()) {
  <div class="navbar-center-links-container">
  <a routerLink="summary">
    <span class="material-symbols-rounded">space_dashboard</span>
      <span>Summary</span>
  </a>
  <a routerLink="add-task">
      <span class="material-symbols-rounded">edit_square</span>
      <span>Add&nbsp;Task</span>
  </a>
  <a routerLink="board">
    <span class="material-symbols-rounded board-symbol">table_rows_narrow</span>
      <span>Board</span>
  </a>
  <a routerLink="contacts">
      <span class="material-symbols-rounded">perm_contact_calendar</span>
      <span>Contacts</span>
  </a>
</div>
}
<div class="navbar-privacy-and-legal-links-container">
  <a routerLink="privacy-policy">Privacy Policy</a>
  <a routerLink="legal-notice">Legal notice</a>
</div>
