<a class="navbar-logo-link" href="summary.html">
  <img class="navbar-logo" src="img/large-join-logo-light.svg" alt="light Join logo" />
</a>
<div class="navbar-center-links-container">
  <a routerLink="summary">
      <img src="assets/img/summary-icon.svg" alt="summary icon">
      <span>Summary</span>
  </a>
  <a routerLink="add-task">
      <img src="assets/img/add-task-icon.svg" alt="add-task icon">
      <span>Add Task</span>
  </a>
  <a routerLink="board">
      <img src="assets/img/board-icon.svg" alt="board icon">
      <span>Board</span>
  </a>
  <a routerLink="contacts">
      <img src="assets/img/contacts-icon.svg" alt="contacts icon">
      <span>Contacts</span>
  </a>
</div>
<div class="navbar-privacy-and-legal-links-container">
  <a routerLink="privacy-policy">Privacy Policy</a>
  <a routerLink="legal-notice">Legal notice</a>
</div>
