@use "../../../styles/colors.scss";
@use "../../../styles/mixins.scss";
@use "../../../styles/paddings.scss";

:host {
  height: 100%;
  width: 100%;
  background-color: colors.$menu;
  @include mixins.flex($jc: space-evenly, $dir: column);
  @media (max-width: 1200px) {
    flex-direction: row;
  }
}

a {
  color: colors.$menu-font;
  text-decoration: none;
}

.navbar-logo-link {
  @include mixins.flex($jc: center, $ai: center);
  @media (max-width: 1200px) {
    display: none;
  }
}

.navbar-logo {
  width: 100px;
  @media (max-width: 920px) {
    display: none;
  }
  @media (max-height: 520px) {
    width: 80px;
  }
  @media (max-height: 420px) {
    width: 60px;
  }
  @media (max-height: 380px) {
    width: 30px;
  }
}

.navbar-center-links-container {
  @include mixins.flex($dir: column);
  gap: 15px;
  @media (max-width: 1200px) {
    gap: unset;
    width: 100%;
    padding-left: paddings.$content-left-large-tablet;
    @include mixins.flex($jc: space-between, $ai: center, $dir: row);
  }
  @media (max-width: 1024px) {
    padding-left: paddings.$content-left-small-tablet;
  }
  @media (max-width: 768px) {
    padding: 0 paddings.$content-left-mobile;
    @include mixins.flex($jc: space-evenly, $ai: center, $dir: row);
  }
  @media (max-width: 560px) {
    @include mixins.flex($jc: space-between, $ai: center, $dir: row);
  }
  @media (max-height: 560px) {
    gap: 8px;
  }
  @media (max-height: 520px) {
    gap: 4px;
  }
  @media (max-height: 420px) {
    gap: 0;
  }
}

.navbar-center-links-container a {
  @include mixins.flex($jc: flex-start, $ai: center);
  gap: 8px;
  height: 46px;
  padding: 8px 56px 8px 56px;
  font-size: 16px;
  .material-symbols-rounded {
    font-size: 25px;
  }
  @media (max-width: 1200px) {
    @include mixins.flex($jc: center, $ai: center, $dir: column);
    height: 76px;
    width: 112px;
    padding: 0;
    border-radius: 16px;
  }
  @media (max-width: 768px) {
    width: 80px;
    font-size: 14px;
    .material-symbols-rounded {
      font-size: 20px;
    }
  }
}

.navbar-privacy-and-legal-links-container {
  @include mixins.flex($dir: column);
  padding: 8px 0;
  width: 100%;
  gap: 4px;
  @media (max-width: 1200px) {
    @include mixins.flex($jc: center, $ai: flex-end, $dir: column);
    gap: 0;
    padding-right: 40px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.navbar-privacy-and-legal-links-container a {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 8px;
  @media (max-height: 420px) {
    gap: 0;
  }
}

.navbar-login-link-container {
  display: none;
  @include mixins.flex($jc: center, $ai: center);
  @media (max-width: 1200px) {
    padding-left: 40px;
    @include mixins.flex($jc: flex-start, $ai: center);
  }
  @media (max-width: 768px) {
    padding: unset;
  }
}

.material-symbols-rounded {
  font-size: 30px;
}

@media (hover: hover) {
  .navbar-center-links-container a:hover {
    color: white;
    background-color: colors.$menu-hover;
  }
  .navbar-center-links-container .navbar-link-active:hover {
    color: white;
    background-color: colors.$menu-active;
  }
  .navbar-privacy-and-legal-links-container a:hover,
  .navbar-login-link-container a:hover {
    color: colors.$accent;
    font-weight: 700;
  }
  .navbar-privacy-and-legal-links-container .navbar-link-active:hover,
  .navbar-login-link-container .navbar-link-active:hover {
    color: colors.$menu-font;
    font-weight: 400;
  }
}

.navbar-link-active {
  background-color: colors.$menu-active;
  cursor: default;
}

.navbar-center-links-container .navbar-link-active {
  color: white;
}

.navbar-privacy-and-legal-links-container .navbar-link-active,
.navbar-login-link-container .navbar-link-active {
  color: colors.$menu-font;
  @media (max-width: 1200px) {
    border-radius: 16px;
  }
}

@media (max-height: 380px) {
  :host,
  .navbar-privacy-and-legal-links-container a {
    font-size: 14px;
  }
  .material-symbols-rounded {
    font-size: 24px;
  }
  .navbar-privacy-and-legal-links-container {
    padding: 0;
  }
}
