@use "../styles/colors.scss";
@use "../styles/mixins.scss";

.rotation-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    font-weight: 500;
    color: colors.$accent;
    background-color: colors.$bg;
    z-index: 1001;
    @media (max-width: 1200px) and (max-height: 540px) and (orientation: landscape) {
        @include mixins.flex($jc: center, $ai: center, $dir: column);
        gap: 8px;
    }
}