@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/shadows.scss';
@use '../../../../../styles/colors.scss';

:host {
    width: 100%;
}

.add-box {
    margin-right: 8px;
    cursor: pointer;
    @media (max-width: 1200px) {
        font-size: 30px;
    }
}

.board-column-header, .board-tasks {
    width: 252px;
}

.board-column-header {
    @include mixins.flex($jc: space-between, $ai: center);
    margin-bottom: 15.5px;
    @media (max-width: 1200px) {
        width: 100%;
    }
}

.board-tasks {
    @include mixins.flex($dir: column);
    gap: 16px;
    min-height: 252px;
    height: 100%;
    @media (max-width: 1439px) {
        width: 100%;
        overflow-x: auto;
        @include mixins.flex($dir: row);
    }
}

.cdk-drop-list-dragging, .no-tasks {
    border: 1px dashed colors.$medium-gray;
    border-radius: 10px;
}

.no-tasks {
    @include mixins.flex($jc: center, $ai: center);
    height: 48px;
    width: 252px;
    background-color: colors.$light-gray;
}