<div class="board-column-header">
    <h3 class="board-column-heading-desktop">{{ status }}</h3>
    <span class="material-symbols-rounded add-box">add_box</span>
</div>
<div [id]="dropListId" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)" class="board-tasks">
    @if (tasks.length > 0) {
        @for (task of tasks; track task.id) {
                <app-task cdkDragBoundary=".board-columns" cdkDrag [taskData]="task">
                    <app-task *cdkDragPreview [taskData]="task"></app-task>
                </app-task>
        }
    } @else {
        <span class="no-tasks">No tasks {{ status.toLowerCase() }}</span>
    }
</div>