:host {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

app-add-task-form {
    margin-top: 24px;
    margin-bottom: 24px;
    @media (max-width: 1200px) {
        margin-top: 16px;
        margin-bottom: 8px;
    }
}

.btn-close, .btn-ok {
    align-self: flex-end;
}