<div class="task-category-and-mobile-drag-arrows-container">
        <div class="task-category" [ngClass]="taskData.category === 'User Story' ? 'user-story' : 'technical-task'" >{{ taskData.category }}</div>
        <div class="move-arrows">⇵</div>
</div>
<div class="task-title-and-description-container">
    <div class="task-title">{{ taskData.title }}</div>
    <div class="task-description">{{ shortTaskDescription }}</div>
</div>
<div class="initial-avatars-and-priority-container">
    <div id="initial-avatars"></div>
</div>