@use '../../../../../../styles/mixins.scss';
@use '../../../../../../styles/shadows.scss';
@use '../../../../../../styles/colors.scss';


:host {
    overflow: visible;
}

.task {
    @include mixins.flex($dir: column);
    flex-shrink: 0;
    width: 252px;
    border-radius: 24px;
    padding: 16px;
    gap: 20px;
    background-color: white;
    box-shadow: shadows.$box-shadow2;
    cursor: pointer;
}

.rotate {
    transform: rotate(5deg);
}

.task-title-and-description-container {
    @include mixins.flex($dir: column);
    gap: 8px;
}

.task-title {
    font-weight: 700;
    font-size: 16px;
}

.task-category-and-mobile-drag-arrows-container {
    width: 100%;
    @include mixins.flex($jc: space-between);
}

.task-category {
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
}

.task-progress-note {
    white-space: nowrap;
}

.subtask-tooltip {
    padding: 8px;
    position: absolute;
    display: none;
    color: white;
    background-color: #4589FF;
    padding: 8px;
    border-radius: 6px;
    box-shadow: shadows.$box-shadow2;
    top: 26px;
    right: 0;
    z-index: 1;
}

.task-progress-container {
    @media (hover: hover) {
        &:hover {
            .subtask-tooltip {
                display: block;
            }
        }
    }
}

.task-progress-container {
    position: relative;
    @include mixins.flex($ai: center);
    gap: 11px;
    font-size: 12px;
}

.task-progress {
    width: 128px;
    height: 8px;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: #F4F4F4;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: #4589FF;
    border-radius: 16px;
}

.initial-avatars-and-priority-container {
    @include mixins.flex($jc: space-between, $ai: center);
}

.initial-avatars {
    display: flex;
    flex-wrap: wrap;
    .initial-avatar:not(:first-child) {
        margin-left: -8px;
    }
}

.move-arrows {
    font-size: 22px;
    position: relative;
    display: none;
    @media (max-width: 1200px) {
        display: block;
    }
}
