@use '../../../styles/mixins.scss';

:host {
    @include mixins.flex($jc: center, $ai: center);
}

span {
    cursor: pointer;
}

input {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}